<div class="w3-section">
	<form method="POST" ng-submit="cekPeserta()">
	<div class="w3-center" style="margin:0 auto;width:75%;">
			<div class="w3-panel w3-red" ng-show="pesanWarning">
				 <span class="w3-closebtn" ng-click="closeWarning()">X</span>
				 <p>{{isiPesan}}</p>
			</div>
			<h2>Login Peserta Ujian</h2>
			<select class="w3-select w3-section" name="idUjian" ng-model="idUjian" ng-options="x.nm_ujian for x in listUjian">
			</select>
			<input class="w3-input w3-section" placeholder="Nomor Peserta" ng-model="idPeserta" />
			<button type="submit" class="w3-btn w3-blue w3-section">Submit</button>
	</div>
	</form>
</div>
