<div class="w3-section">
	<div class="w3-card-2" style="width:75%;margin:0 auto;">
		<div class="w3-container w3-pale w3-center">
		<h1>Hasil Ujian</h1>
		<div class="w3-row">
			<div class="w3-col l6">
				Id Peserta <br/>
				Id Ujian
			</div>
			<div class="w3-col l6">
				{{hasilUjian.id_peserta}} <br/>
				{{hasilUjian.id_ujian}}
			</div>
		</div>
		<table class="w3-table w3-bordered w3-border" ng-model="tabelData" ng-hide="tabelData">
			<tr class="w3-teal">
				<th>No Soal</th>
				<th>Jawaban Anda</th>
				<th>Jawaban Benar</th>
				<th>Keterangan</th>
			</tr>
			<tr ng-repeat="x in hasilUjian.hasil_ujian">
				<td>{{$index+1}}</td>
				<td>{{x.jawaban_peserta}}</td>
				<td>{{x.jawaban_soal}}</td>
				<td>
					<button type="button" class="w3-btn w3-small w3-red" ng-hide="x.keterangan">Salah</button>
					<button type="button" class="w3-btn w3-small w3-teal" ng-show="x.keterangan">Benar</button>
				</td>
			</tr>
		</table>
		</div>
		<div class="w3-container">
			<button ng-click="resetUjian()" class="w3-button w3-margin w3-right w3-blue">Selesai >></button>
		</div>
	</div>
</div>
