<div class="w3-container w3-light-gray">
    <div class="w3-row-padding">
        <div class="w3-col s12">
            <div class="w3-center">
                <h1>Informasi Ujian</h1>
            </div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-right-align">ID Peserta : </div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-left-align">{{sesiUjian.id_peserta}}</div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-right-align">ID Ujian : </div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-left-align">{{sesiUjian.id_ujian}}</div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-right-align">Nama Ujian : </div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-left-align">{{sesiUjian.nm_ujian}}</div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-right-align">Hari/Tanggal : </div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-left-align">{{ tgl | date : 'fullDate'}}</div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-right-align">Jam : </div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-left-align">{{ tgl | date : 'HH : mm : ss' }}</div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-right-align">Sisa Waktu : </div>
        </div>
        <div class="w3-col l6 s12">
            <div class="w3-left-align">{{ finishUjian | date : 'HH : mm : ss' }} </div>
        </div>
        <div class="w3-col s12">
            <div class="w3-border"></div>
            <div class="w3-medium"><i><b>Jawablah soal dibawah ini dengan benar!</b></i></div>
        </div>
    </div>
</div>
<div class="w3-container">
    <div class="w3-col l6 s12 w3-large">
        <div class="w3-padding">
            <p>{{noSoal}}.{{isiSoal.isi_soal}}</p>
            <div ng-repeat="x in isiSoal.pilihanGanda">
                <input class="w3-radio" ng-model="$parent.jawaban" type="radio" name="Huruf" ng-value='x.huruf' ng-click="simpanJawaban(sesiLjk.no_soal,sesiLjk.id_soal,x.huruf)" /> {{x.isi_pilihan}}
            </div>
        </div>
    </div>
    <div class="w3-col l6 s12 w3-large">
        <h3>Pilih Soal</h3>
        <select class="w3-select" multiple="multiple">
			<option class="w3-light-grey w3-hover-amber" ng-repeat="x in idSoalUjian" ng-click="showSoalUjian($index)">Soal Nomor {{$index+1}}</option>
		</select>
    </div>
</div>
<div class="w3-container">
    <div class="w3-col s12">
        <button type="button" class="w3-button w3-red w3-right w3-section w3-right" ng-click="kumpulkanUjian()">Kumpulkan Ujian >></button>
    </div>
