<nav style="width:30%;margin-right:70%;" class="w3-sidenav w3-blue" >
	<div class="w3-row">
		<a class="w3-teal"><h3 class="w3-margin">Info Ujian</h3></a>
		<div class="w3-col l4">
			<a class="w3-border w3-border-white">Id Peserta</a>
			<a class="w3-border w3-border-white">Id Ujian</a>
			<a class="w3-border w3-border-white">Nama Ujian</a>
			<a class="w3-border w3-border-white">Hari/Tanggal</a>
			<a class="w3-border w3-border-white">Jam</a>
			<a class="w3-border w3-border-white">Sisa Waktu</a>
		</div>
		<div class="w3-col l8">
			<a class="w3-border w3-border-white" href="#">{{sesiUjian.id_peserta}}</a>
			<a class="w3-border w3-border-white" href="#">{{sesiUjian.id_ujian}}</a>
			<a class="w3-border w3-border-white" href="#">{{sesiUjian.nm_ujian}}</a>
			<a class="w3-border w3-border-white" href="#">{{ tgl | date : 'fullDate'}}</a>
			<a class="w3-border w3-border-white" href="#">{{ tgl | date : 'HH : mm : ss' }}</a>
			<a class="w3-border w3-border-white" href="#">{{ sisaWaktu | date : 'HH : mm : ss' }}</a>
		</div>
	</div>
	<a class="w3-teal"><h3 class="w3-margin">Pilih Soal</h3></a>
	<a ng-repeat="x in idSoalUjian" ng-click="showSoalUjian($index)" class="w3-hover-grey w3-border-bottom">Soal Nomor {{$index+1}}</a>
</nav>
	<div style="width:70%;margin-left:30%;">
		<div class="w3-container">
		<h2>Soal Nomor {{noSoal}}</h2>
		<p>{{isiSoal.isi_soal}}</p>
		Jawaban : 
			<div ng-repeat="x in isiSoal.pilihan_ganda">
				<input class="w3-radio" ng-model="$parent.jawaban" type="radio" name="Huruf" ng-value='x.huruf' ng-click="simpanJawaban(sesiLjk.no_soal,sesiLjk.id_soal,x.huruf)" /> {{x.isi_pilihan}}
			</div>
		</div>
		<button type="button" class="w3-button w3-red w3-right w3-section" ng-click="kumpulkanUjian()">Kumpulkan Ujian >></button>
	</div>
