<div class="w3-container">
	<h2>Aplikasi Ujian Berbasis Web</h2>
</div>
<div class="w3-container">
Menggunakan back-end NodeJS dan Front-end sesuai keinginan klien.
Karena back-end dibuat dengan menggunakan metode <b>Restful API</b>, sehingga front-end hanya perlu mengirim dan menerima data dari server dalam bentuk JSON (JavaScript Object Nation).
<br/>Fitur :
<ul>
	<li>Fitur manajemen Ujian, Soal ujian dan peserta ujian</li>
	<li>Fitur manajemen Soal</li>
	<li>Fitur manajemen Peserta</li>
</ul>
</div>
