<div class="w3-modal" ng-model="createForm" style="{{form}}">
	<div class="w3-modal-content w3-animate-top">
		<form class="w3-card-8 w3-container" method="POST" ng-submit="createData()">
			<span ng-click="showForm(0,0)" class="w3-closebtn">&times;</span>
			<h2>Daftar Peserta</h2>
			<table class="w3-table w3-bordered w3-border w3-section" ng-model="tabelData" ng-hide="tabelData">
				<tr class="w3-teal">
					<th>No</th>
					<th>Nomor Peserta</th>
					<th>Nama Peserta</th>
					<th>Aksi</th>
				</tr>
				<tr ng-repeat="x in peserta">
					<td>{{$index+1}}</td>
					<td>{{x.id_peserta}}</td>
					<td>{{x.nm_peserta}}</td>
					<td><button type="button" class="w3-btn w3-small w3-pale-red" ng-click="createData(x.id_peserta)">Tambah Peserta</button></td>
				</tr>
			</table>
	</div>
</div>
<h2>Daftar Peserta Ujian</h2>
<span ng-include="'/admin/views/buttonAtas.html'"></span>
<table class="w3-table w3-bordered w3-border" ng-model="tabelData" ng-hide="tabelData">
	<tr class="w3-teal">
		<th>No</th>
		<th>Nomor Peserta</th>
		<th>Nama Peserta</th>
		<th>Aksi</th>
	</tr>
	<tr ng-repeat="x in data | filter : kataKunci ">
		<td>{{$index+1}}</td>
		<td>{{x.id_peserta}}</td>
		<td>{{x.nm_peserta}}</td>
		<td><button type="button" class="w3-btn w3-small w3-pale-red" ng-click="deleteData(x.id)">Hapus</button></td>
	</tr>
</table>


