<div class="w3-container w3-blue-gray">
    <h2>Daftar Soal Ujian</h2>
</div>
<span ng-include="'/admin/views/buttonAtas.html'"></span>
<div class="w3-modal" ng-model="createForm" style="{{form}}">
    <div class="w3-modal-content w3-animate-top">
        <form ng-show="createForm" class="w3-card-8 w3-container w3-section" method="POST" ng-submit="createData()">
            <span ng-click="showForm(0,0)" class="w3-closebtn">&times;</span>
            <h3>Tambah Data</h3>
            <textarea class="w3-input w3-border" type="text" id="Tsoal" ng-model="Tsoal" placeholder="Isi Soal"></textarea>
            <label class="w3-label w3-text-red">{{ETsoal}}</label><br/>
            <div class="w3-row">
                <div class="w3-col l1">
                    <input ng-repeat="x in pilihanGanda" class="w3-input w3-border" type="text" ng-model="pilihanGanda[$index].huruf" ng-value='x.huruf' placeholder="Huruf" /><label class="w3-label w3-text-red"></label>
                </div>
                <div class="w3-col l11">
                    <input ng-repeat="x in pilihanGanda" class="w3-input w3-border" type="text" ng-model="pilihanGanda[$index].isi_pilihan" ng-value='x.isi_pilihan' placeholder="Isi Pilihan Ganda" /><label class="w3-label w3-text-red"></label><br/>
                </div>
            </div>
            <button class="w3-btn w3-tiny w3-teal" type="button" ng-click="addPG(0)">+</button>
            <button class="w3-btn w3-tiny w3-red" type="button" ng-click="deletePG(0)">-</button>
            <br/> Jawaban :
            <label class="w3-label w3-text-red">{{ERjawaban}}</label><br/>
            <div ng-repeat="x in pilihanGanda">
                <input class="w3-radio" type="radio" name="Huruf" ng-model="$parent.Rjawaban" ng-value='x.huruf' /> <label class="w3-label">{{x.huruf}}</label>
            </div>
            <span ng-include="'/admin/views/buttonCreate.html'"></span>
        </form>
        <!-- UPDATE FORM -->
        <form ng-show="updateForm" class="w3-card-8 w3-container w3-section" method="PUT" ng-submit="updateData(idSoal)">
            <span ng-click="showForm(0,1)" class="w3-closebtn">&times;</span>
            <h3>Update Data </h3>
            <input class="w3-input w3-border" type="text" id="UTsoal" ng-model="UTsoal" placeholder="Isi Soal" /><label class="w3-label w3-text-red">{{EUTsoal}}</label><br/>
            <div class="w3-row">
                <div class="w3-col l1">
                    <input ng-repeat="x in pilihanGandaUpdate" ng-value='x.huruf' class="w3-input w3-border" type="text" ng-model="pilihanGandaUpdate[$index].huruf" ng-value='x.huruf' placeholder="Huruf" /><label class="w3-label w3-text-red"></label>
                </div>
                <div class="w3-col l11">
                    <input ng-repeat="x in pilihanGandaUpdate" ng-value='x.isi_pilihan' class="w3-input w3-border" type="text" ng-model="pilihanGandaUpdate[$index].isi_pilihan" ng-value='x.isi_pilihan' placeholder="Isi Pilihan Ganda" /><label class="w3-label w3-text-red"></label><br/>
                </div>
            </div>
            <button class="w3-btn w3-tiny w3-teal" type="button" ng-click="addPG(1)">+</button>
            <button class="w3-btn w3-tiny w3-red" type="button" ng-click="deletePG(1)">-</button>
            <br/> Jawaban :
            <label class="w3-label w3-text-red">{{EURjawaban}}</label><br/>
            <div ng-repeat="x in pilihanGandaUpdate">
                <input class="w3-radio" type="radio" name="UHuruf" ng-model="$parent.URjawaban" ng-value='x.huruf' /> <label class="w3-label">{{x.huruf}}</label>
            </div>
            <span ng-include="'/admin/views/buttonUpdate.html'"></span>
        </form>
    </div>
</div>
<div class="w3-container">
    <div class="w3-bar">
        <span class="w3-item-bar w3-button w3-green w3-padding">
			<input type="checkbox" ng-model="toggleBulkDelete" /> Pilih Banyak Data
		</span>
        <button class="w3-button w3-red w3-item-bar" ng-disabled="!toggleBulkDelete" ng-show="toggleBulkDelete" ng-click="deleteData(bulkDelete)">Hapus Data Terpilih</button>
    </div>
    <div class="w3-responsive">
        <table class="w3-table-all" ng-model="tabelData" ng-hide="tabelData">
            <tr class="w3-teal">
                <th ng-show="toggleBulkDelete">Pilih</th>
                <th>No</th>
                <th>Isi Soal</th>
                <th>Aksi</th>
            </tr>
            <tr ng-repeat="x in laporanSoal | filter : kataKunci ">
                <td ng-show="toggleBulkDelete" style="width:10px;text-align:center;"><input type="checkbox" name="bulkDelete" ng-model="bulkValue" ng-click="addBulkDelete(bulkValue,x.id_soal)" ng-disable="toggleBulkDelete"></td>
                <td>{{$index+1+pagination.offset}}</td>
                <td>{{x.isi_soal}}</td>
                <td><button type="button" class="w3-btn w3-small w3-red" ng-click="deleteData(x.id)"><i class="fa fa-trash w3-small"></i> <b>Hapus</b></button>
                    <button type="button" class="w3-btn w3-small w3-teal" ng-click="detailData(x.id_soal)"><i class="fa fa-edit w3-small"></i> <b>Update</b></button></td>
            </tr>
        </table>
    </div>
    <span ng-include="'/admin/views/paginasiBawah.html'"></span>
</div>
