<div class="w3-container w3-blue-gray">
	<h2>Daftar Ujian</h2>
</div>
<span ng-include="'/admin/views/buttonAtas.html'"></span>
<div class="w3-modal" ng-model="createForm" style="{{form}}">
	<div class="w3-modal-content w3-animate-top">
		<form ng-show="createForm" class="w3-card-8 w3-container w3-section" method="POST" ng-submit="createData()">
			<span ng-click="showForm(0,0)" class="w3-closebtn">&times;</span>
			<h3>Tambah Data</h3>
			<input class="w3-input w3-border" type="text" id="Tnm_ujian" ng-model="Tnm_ujian" placeholder="Nama Ujian " />
			<label class="w3-validate">{{ETnm_ujian}}</label><br/>
			<label class="w3-label">Lama Ujian</label>
			<div class="w3-row">
				<div class="w3-col l6">
					<input class="w3-input w3-border" type="number" min=0 id="Tjam" ng-model="Tjam" value='0' placeholder="Jam" />
					<label class="w3-validate">{{ETjam}}</label>
				</div>
				<div class="w3-col l6">
					<input class="w3-input w3-border" type="number" min=0 max=59 id="Tmenit" value='0' ng-model="Tmenit" placeholder="menit" />
					<label class="w3-validate">{{ETmenit}}</label>
				</div>
			</div>
			<span ng-include="'/admin/views/buttonCreate.html'"></span>
		</form>
		<form ng-show="updateForm" class="w3-card-8 w3-container w3-section" method="PUT" ng-submit="updateData(id)">
			<span ng-click="showForm(0,1)" class="w3-closebtn">&times;</span>
			<h3>Update Data </h3>
				<input class="w3-input w3-border" type="text" id="UTnm_ujian" ng-model="UTnm_ujian" placeholder="Nama Ujian " />
				<label class="w3-validate">{{EUTnm_ujian}}</label><br/>
				<div class="w3-row">
				<div class="w3-col l6">
					<input class="w3-input w3-border" type="number" min=0 id="UTjam" ng-model="UTjam" placeholder="Jam" />
					<label class="w3-validate">{{EUTjam}}</label>
				</div>
				<div class="w3-col l6">
					<input class="w3-input w3-border" type="number" min=0 max=59 id="UTmenit" ng-model="UTmenit" placeholder="menit" />
					<label class="w3-validate">{{EUTmenit}}</label>
				</div>
			</div>
				<span ng-include="'/admin/views/buttonUpdate.html'"></span>
		</form>
	</div>
</div>
<div class="w3-container">
	<div class="w3-bar">
		<span class="w3-item-bar w3-button w3-green w3-padding">
			<input type="checkbox" ng-model="toggleBulkDelete" /> Pilih Banyak Data
		</span>
		<button class="w3-button w3-red w3-item-bar" ng-disabled="!toggleBulkDelete" ng-show="toggleBulkDelete" ng-click="deleteData(bulkDelete)">Hapus Data Terpilih</button>
	</div>
	<div class="w3-responsive">
		<table class="w3-table-all" ng-model="tabelData" ng-hide="tabelData">
			<tr class="w3-teal">
				<th ng-show="toggleBulkDelete">Pilih</th>
				<th>No</th>
				<th>Nama Ujian</th>
				<th>Banyak Soal</th>
				<th>Banyak Peserta</th>
				<th>Durasi</th>
				<th>Aksi</th>
			</tr>
			<tr class="w3-white" ng-repeat="x in data | filter : kataKunci ">
				<td ng-show="toggleBulkDelete" style="width:10px;text-align:center;"><input type="checkbox" name="bulkDelete" ng-model="bulkValue" ng-click="addBulkDelete(bulkValue,x.id_ujian)"/ ng-disable="toggleBulkDelete"></td>
				<td>{{$index+1+pagination.offset}}</td>
				<td>{{x.nm_ujian}}</td>
				<td>{{x.banyak_soal}}</td>
				<td>{{x.banyak_peserta}} Orang</td>
				<td>{{x.jam + ' Jam '+ x.menit + ' menit'}}</td>
				<td><button type="button" class="w3-btn w3-small w3-red" ng-click="deleteData(x.id_ujian)"><i class="fa fa-close w3-small"></i> <b>Hapus</b></button>
				<button type="button" class="w3-btn w3-small w3-teal" ng-click="detailData(x.id_ujian)"><i class="fa fa-edit w3-small"></i> <b>Update</b></button>
				<a href="{{'#!ujian/'+x.id_ujian+'/soal'}}" class="w3-btn w3-small w3-indigo"><i class="fa fa-list-alt"></i> <b>Soal Ujian</b></a>
				<a href="{{'#!ujian/'+x.id_ujian+'/peserta'}}" class="w3-btn w3-small w3-lime"><i class="fa fa-user"></i> <b>Peserta Ujian</b></a>
				<a href="{{'#!ujian/'+x.id_ujian+'/laporan'}}" class="w3-btn w3-small w3-cyan"><i class="fa fa-list-ol"></i> <b>Hasil Ujian</b></a></td>
			</tr>
		</table>
	</div>
<span ng-include="'/admin/views/paginasiBawah.html'"></span>
</div>

